body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fb;
    color: #2c3e50;
    margin: 0;
}

nav {
    padding: 5px 0px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    background: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);



}

nav a {
    text-decoration: none;
    color: #2c3e50;
    padding: 10px 30px;
    font-size: larger;




    
}

nav a:hover {
    cursor: pointer;
    font-weight: bold;
    color: #3a7bd5;
}

nav ul img {
    border: 2px solid;
    width: 200px;
}

.main-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 170px;
}

#logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-left: 30px;


}

#headline {
    text-align: center;
    padding: 20px 20px 60px;
}

#headline h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

#headline p {
    font-size: 22px;
    margin: auto;
}

#aboutsections h2 {
    font-size: 40px;
    color: #5791e2;
    margin-bottom: 20px;
    margin-left: 20px;
}

#aboutsections p {
    font-size: 25px;
    background-color: white;
    border-radius: 20px;
    padding: 25px 30px;
    margin: 30px 45px;
    line-height: 1.7;
    color: #444;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

#action-thing {
    position: relative;
    top: 1000px;
    text-align: center;
    background:#3a7bd5;
    color: white;
    padding: 100px 25px;
    margin-top: 100px;
}

#action-thing h2 {
    color: white;
    font-size: 50px;
}

#action-thing p{
    margin:20px auto;
    font-size:25px;
}

#action-thing h3 {
    margin: 30px;
    font-size: 30px;
}

#action-thing button {
    background-color: white;
    color:#2c2c2c;
    padding: 15px 30px;
    border-radius: 8px;
}

#action-thing button:hover {
    background:#e7e7e7;
}

#imglink {
    margin-left: -40px;
}

#me {
    width: 600px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1200px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);

}