body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fb;
    color: #2c3e50;
}

h1 {
    text-align: center;
    font-size: 60px;
}

#uploadtitle {
    text-align: center;
    font-size: 30px;
}



nav {
    padding: 5px 0px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    background: white;
    border-bottom: 1px solid;


}

nav ul {


}


nav li {
    font-size: 20px;
    display: inline-block;
    padding: 15px 50px;

}

nav a {
    text-decoration: none;
    color: #2c3e50;
}

nav a:hover {
    cursor: pointer;
    font-weight: bold;
}




.custom-upload {
  display: flex;
  justify-content: center;
  width: 100%;
}


.upload-box {
  display: inline-block;
  padding: 120px 200px;
  background-color: #e7ebef;
  color: #2c3e50;
  border: 2px dashed;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

#file-upload {
  display: none;
}



